footer {
  background-image: url(/assets/img/fundo-cabecalho.jpg);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "TextoCopyright LogoRodape .";
  align-items: center;
  padding: 1rem 2rem;
}

.TextoCopyright {
  justify-self: center;
  grid-area: TextoCopyright;
}

.logoRodape {
  justify-self: center;
  grid-area: LogoRodape;
  height: 100px;
}

.github{
  text-decoration: none;
  color: #42032C;
}

footer small {
  color: #42032C;;
}

@media (max-width: 576px) {
  .cabecalho .logo {
    padding: 2rem;
  }

  .cabecalho p {
    font-size: 1.5rem
  }
}

@media (max-width: 768px) {
  footer {
    display: flex;
    flex-direction: column-reverse;
    gap: 1rem;
  }
}
